<%inherit file="base.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%block name="title">Maintenance Dashboard</%block>
<%block name="content">
<div class="wrapper-content wrapper">
    <section class="container outside-app">
    <ul>
    % for url in urls:
    <li><a href='${url["url"]}'>${unicode(url["name"])}</a>: ${unicode(url["description"])}</li>
    % endfor
    </ul>
</section>
</div>
</%block>